<!DOCTYPE html>
<html>
	<head>
		<title>Skeleton</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<%= render partial: "shared/flash_messages", flash: flash %>
		<%= render partial: "shared/navbar" %>
		<div class="container">
			<%= render partial: "shared/header" %>
			<div class=""row">
				<div class="col-sm-8 blog-main">
					<%= yield %>
				</div>
				<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
					<div class="sidebar-module sidebar-module-inset">
						<%= render partial: "shared/about" %>
					</div>
					<div class="sidebar-module">
						<%= render partial: "shared/another_sidebar" %>
					</div>
					<div class="sidebar-module">
						<%= render partial: "shared/links_sidebar" %>
					</div>
				</div>
			</div>
		</div>
		<%= render partial: "shared/footer" %>
	</body>
</html>
