<!DOCTYPE html>
<html>
	<head>
		<title>Skeleton</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<%= render partial: "shared/flash_messages", flash: flash %>
		<div class="blog-masthead">
			<div class="container">
				<nav class="blog-nav">
				<a class="blog-nav-item active" href="#">Home</a>
				<a class="blog-nav-item" href="#">New features</a>
				<a class="blog-nav-item" href="#">Press</a>
				<a class="blog-nav-item" href="#">New hires</a>
				<a class="blog-nav-item" href="#">About</a>
				<ul class="nav navbar-nav navbar-right"><% if !user_signed_in? %>
						<li class="medium-padding" id="sign-in-text">Sign in with</li>
						<li>
						<%= link_to user_omniauth_authorize_url(:google_oauth2), class: "btn btn-social-icon btn-google-plus skeleton-text-top" do %>
							<i class="fa fa-google-plus"></i>
						<% end %>
						</li>
						<li class="medium-padding" id="sign-in-text">or</li>
						<li><div class="btn-group">
							<%= link_to "Sign in", new_user_session_url, class: "btn btn-default" %>
							<%= link_to "Register", new_user_registration_url, class: "btn btn-default" %>
						</div>
						</li>
					<% else %>
						<%= link_to "Log out", destroy_user_session_url, class: "blog-nav-item", method: 'delete' %>
					<% end %>
				</ul>
				</nav>
			</div>
		</div>
		<div class="container">
			<div class="blog-header">
				<h1 class="blog-title">Skeleton</h1>
				<p class="lead blog-description">Rails 4.1 web application with devise, oauth, bootstrap and more</p>
			</div>
			<div class=""row">
				<div class="col-sm-8 blog-main">
					<%= yield %>
				</div>
				<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
					<div class="sidebar-module sidebar-module-inset">
						<%= render partial: "shared/about" %>
					</div>
					<div class="sidebar-module">
						<%= render partial: "shared/another_sidebar" %>
					</div>
					<div class="sidebar-module">
						<h4>Elsewhere</h4>
						<ol class="list-unstyled">
							<li><a href="#">GitHub</a></li>
							<li><a href="#">Twitter</a></li>
							<li><a href="#">Facebook</a></li>
						</ol>
					</div>
				</div>
				<row>
			</div>
		</body>
	</html>
